
# Caché de Python y Testing
__pycache__/
*.pyc
.pytest_cache/

# Datos y modelos pesados
# (Evita subir datasets gigantescos o checkpoints de modelos a GitHub)
data/
models/

# Entornos virtuales si llegas a crear uno
venv/
.venv/
env/

# Archivos del sistema
.DS_Store
Thumbs.db
